.page {
  width: calc(100% - 90px);
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000;
}

@media screen and (max-width: 375px) {
  .page {
    width: calc(100% - 38px);
  }
}