@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.popup_opened {
  display: flex;
  animation: fade-in 500ms forwards;
}

.popup_opened[closing] {
  display: flex;
  pointer-events: none;
  inset: 0;
  animation: fade-out 500ms forwards;
} 