.card__form {
  display: grid;
  grid-template-rows: 43px 32px 33px 103px;
  row-gap: 25px;
  margin: 34px 36px 0;
}

@media screen and (max-width: 767px) {
  .card__form {
    grid-template-rows: 64px 31px 27px 103px;
    margin: 25px 22px 0;
  }
}