.element__title {
  max-width: 185px;
  margin: 0;
  margin-left: 21px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}