.header__logo {
  max-width: 142px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  margin-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header__logo {
    max-width: 103px;
    margin-bottom: 31px;
  }
}