.profile__subtitle {
  max-width: 294px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: ___;
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    max-width: 189px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}