.popup__submit {
  width: 358px;
  height: 50px;
  margin: auto;
  padding: 0;
  background-color: #000;
  border-radius: 2px;
  border: 1px solid #000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

.popup__submit:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}